.mentors{
  width: 100%;
  height: 100%;
  background-color: var(--body_background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mentors__wrapper{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1440px;
}
@media screen and (max-width: 1520px) {
  .mentors__wrapper{
    padding	: 0 30px;
  }
}
.mentors__buttonAdd{
  width: 100%;
  margin-bottom: 30px;
  border-radius: 30px;
}
.mentors__buttonAdd::before{
  background-color: var(--body_background);
}
.mentors__buttonAdd:hover{
  color: var(--body_color);
}
.mentors h1{
  color: var(--body_color);
  margin: 42px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  
}
@media screen and (max-width: 850px) {
  .mentors h1{
    font-size: 2.5em;
  }
}
.mentors__display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: clamp(300px, 100%, 80%);
}
.mentors__notFound{
  margin-top: 50px;
}
.mentors__loading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}
.mentors__leftContainer{
  width: clamp(300px, 100%, 20%);
  margin-right: 30px;
}

@media screen and (max-width: 1300px) {
  .mentors__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .mentors__leftContainer{
    width: 100%;
    margin-right: 0;
  }
  .mentors__display{
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .mentors__wrapper{
    padding: 0 16px;
  }
}